<%- include('header') %> 

<div class="card">
  <h1 class="result-h1"> <%= result.cityName %> </h1>
  <p class="result-p "> <%= result.weather %> </p>
  <p class="result-p "> <%= result.feels %> </p>
  <p class="result-p "> <%= result.temprature %>  </p>
  <img class="icon" src=<%= result.src %>  alt=" ">
</div>


<%- include('footer') %> 
